<div class="w-full">
    <div class="text-xl font-semibold leading-6 tracking-tight mt-1 mb-5">
        Dashboard
    </div>

    <div
        class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 ng-star-inserted"
    >
        <div
            class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6"
        >
            <div class="mt-2 flex flex-col items-center">
                <div
                    class="text-7xl font-bold leading-none tracking-tight text-primary sm:text-8xl"
                >
                {{restaurants.length}}
                </div>
                <div
                    class="text-lg font-medium text-primary"
                >
                    No.of Restaurants
                </div>
            </div>
        </div>
    </div>
</div>
